:root {
	/* ------- colors ------- */
	--primary-color: #27272a;
	--secondary-color: #444449;
	--tertiary-color: #acacb4;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Open-Sans", sans-serif;
	--secondary-font: "Roboto Slab", sans-serif;
	/* --------------------- */
}
